@font-face {
    font-family: Yekan;
    src: url('../fonts/yekan.woff') format("woff"),url('../fonts/yekan.ttf') format("truetype"),url('../fonts/yekan.svg#CartoGothicStdBook') format("svg");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: numbers;
    src: url('../fonts/numbers.woff') format("woff") /*,url('../fonts/numbers.ttf') format("truetype")*/,url('../fonts/numbers.svg#CartoGothicStdBook') format("svg");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: iransans;
    src: url('../fonts/IRANSansWeb.woff') format("woff"),url('../fonts/iransans.ttf') format("truetype");
    font-style: normal;
    font-display: swap;
}

/*.k-grid {
    font-family: 'DejaVu Sans';
    direction: rtl;
}

.k-pdf-export p {
    font-family: 'DejaVu Sans' !important; 
    direction: rtl;
}

.k-pdf-export {
    font-family: 'DejaVu Sans' !important;
    direction: rtl;
}*/
.YekanFont {
    font-family: Yekan;
}

.chart * {
    font-family: iransans !important;
}

body {
    font-family: numbers, iransans, Tahoma;
    margin: 0 auto;
    line-height: 24pt;
    background: #fff url('../../Images/bg1.jpg') no-repeat top center;
    background-size: cover;
}

.myHeader {
    background-size: cover;
    padding-top: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: numbers, iransans, Tahoma !important;
}

.padding-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.invalid {
    color: red !important;
    font-size: 9pt !important;
}

jdp-container {
    z-index: 15000 !important;
}

/****************** Loading Modal ******************/
.spinnerModal {
    z-index: 99999;
    filter: alpha(opacity=60);
    opacity: 0.6;
    -moz-opacity: 0.8;
    position: absolute;
    background: Black url(../../Images/FireFoxLoading.gif) center center no-repeat;
}

.title {
    text-align: center;
    z-index: 100000;
    color: #fff;
    margin: 10px auto;
}
